---
import PageLayout from "../../layouts/PageLayout.astro";
---

<PageLayout>
  <section class="yap">
    <div class="module">
      <h1 class="title">
        <a aria-hidden="true" href="#mock_file" tabindex="-1">
          <svg
            aria-hidden="true"
            class="heading-icon"
            height="15px"
            viewBox="0 0 20 20"
            width="15px"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              clip-rule="evenodd"
              d="
                M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z
                "
              fill-rule="evenodd"
            >
            </path>
          </svg>
        </a>
         mock_file
      </h1>
      <div class="docstring">
        <div class="docstring">
          <p>module docstring content more content</p>
        </div>
      </div>

      <section class="function">
        <h2 class="title" id="mock_function">
          <a aria-hidden="true" href="#mock_function" tabindex="-1">
            <svg
              aria-hidden="true"
              class="heading-icon"
              height="15px"
              viewBox="0 0 20 20"
              width="15px"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                clip-rule="evenodd"
                d="
                M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z
                "
                fill-rule="evenodd"
              >
              </path>
            </svg>
          </a>
           mock_function
        </h2>

        <div class="content">
          <span class="def">def</span>
          <span class="name">mock_function</span><span
            class="signature pdoc-code multiline"
            >(<span class="param">
              <span class="n">param_a</span><span class="p">:</span>
              <span class="nb">int</span>,</span
            ><span class="param">
              <span class="n">param_b</span><span class="p">:</span>
              <span class="n">Union</span><span class="p">[</span><span
                class="nb">int</span
              ><span class="p">,</span>
              <span class="nb">float</span><span class="p">]</span>
              <span class="o">=</span>
              <span class="mi">2</span></span
            ><span class="return-annotation"
              >) -> <span class="n">Union</span><span class="p">[</span><span
                class="nb">int</span
              ><span class="p">,</span>
              <span class="nb">float</span><span class="p">,</span>
              <span class="n">NoneType</span><span class="p">]</span>:</span
            ></span
          >
        </div>

        <div class="docstring">
          <div class="docstring">
            <p>
              A mock function returning a sum of param_a and param_b if positive
              numbers, else None
            </p>

            <h3>Parameters</h3>
            <div class="container">
              <div class="def">
                <div class="name">param_a</div>
                <div class="type">int</div>
              </div>
              <div class="desc"><p>A <em>test</em> _param_.</p></div>

              <p></p>
              <div class="container">
                <div class="def">
                  <div class="name">param_b</div>
                  <div class="type">float</div>
                </div>
                <div class="desc"><p>Another <em>test</em> _param_.</p></div>

                <table>
                  <thead>
                    <tr>
                      <th>col A</th>
                      <th>: col B</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>boo</td>
                      <td>baa more content across broken line</td>
                    </tr>
                  </tbody>
                </table>

                <p></p>
              </div>
              <h3>Returns</h3>
              <div class="container">
                <div class="def">
                  <div class="name">summed_number</div>
                  <div class="type">float</div>
                </div>
                <div class="desc">
                  <p>The sum of _param_a_ and _param_b_.</p>
                </div>
              </div>
              <div class="container">
                <div class="def">
                  <div class="name"></div>
                  <div class="type">None</div>
                </div>
                <div class="desc">
                  <p>None returned if values are negative.</p>
                </div>
              </div>
              <h3>Raises</h3>
              <div class="container">
                <div class="def">
                  <div class="name"></div>
                  <div class="type">ValueError</div>
                </div>
                <div class="desc">
                  <p>Raises value error if params are not numbers.</p>
                </div>
              </div>
              <div class="meta">
                <h3>Notes</h3><div class="pdoc-code codehilite"></div>

                <pre><span /><code><span class="nb">print</span><span class="p">(</span><span class="n">mock_function</span><span class="p">(</span><span class="mi">1</span><span class="p">,</span> <span class="mi">2</span><span class="p">))</span>
<span class="c1"># prints 3</span>
<span class="nb">print</span><span class="p">(</span><span class="s2">&quot;boo&quot;</span><span class="p">)</span>
<span class="nb">print</span><span class="p">(</span><span class="s1">&#39;boo&#39;</span><span class="p">)</span>
</code></pre>

                <p></p>
              </div>

              <p>Random text</p>

              <p>_Random table_</p>

              <table>
                <thead>
                  <tr>
                    <th>col A</th>
                    <th>: col B</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>boo</td>
                    <td>baa</td>
                  </tr>
                </tbody>
              </table>

              <p></p>
            </div>
          </div>
        </div>
      </section>

      <section class="class">
        <h2 class="title">
          <a aria-hidden="true" href="#ParentClass" tabindex="-1">
            <svg
              aria-hidden="true"
              class="heading-icon"
              height="15px"
              viewBox="0 0 20 20"
              width="15px"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                clip-rule="evenodd"
                d="
                M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z
                "
                fill-rule="evenodd"
              >
              </path>
            </svg>
          </a>
           ParentClass
        </h2>:

        <div class="docstring">
          <div class="docstring">
            <p>A parent class :::warning An admonition :::</p>
          </div>
        </div>
      </section>

      <div id="ParentClass.__init__" class="attr">
        <section class="function">
          <h2 class="title" id="ParentClass.__init__">
            <a aria-hidden="true" href="#ParentClass.__init__" tabindex="-1">
              <svg
                aria-hidden="true"
                class="heading-icon"
                height="15px"
                viewBox="0 0 20 20"
                width="15px"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  clip-rule="evenodd"
                  d="
                M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z
                "
                  fill-rule="evenodd"
                >
                </path>
              </svg>
            </a>
             ParentClass
          </h2>

          <div class="content">
            <span class="name">ParentClass</span><span
              class="signature pdoc-code condensed"
              >(<span class="param"
                ><span class="n">a_param</span><span class="p">:</span>
                <span class="nb">str</span></span
              >)</span
            >
          </div>

          <div class="docstring">
            <div class="docstring">
              <p>Parent initialisation.</p>

              <h3>Parameters</h3>
              <div class="container">
                <div class="def">
                  <div class="name">a_param</div>
                  <div class="type">str</div>
                </div>
                <div class="desc">
                  <p>A parameter. :::note Another admonition :::</p>
                </div>

                <p></p>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div id="ParentClass.parent_prop" class="attr">
        <section class="variable">
          <span class="name">parent_prop</span><span class="annotation"
            >: str</span
          >

          <div class="docstring">
            <div class="docstring"><p>Parent prop description.</p></div>
          </div>
        </section>
      </div>
      <div id="ParentClass.no_param" class="attr">
        <section class="function">
          <h2 class="title" id="ParentClass.no_param">
            <a aria-hidden="true" href="#ParentClass.no_param" tabindex="-1">
              <svg
                aria-hidden="true"
                class="heading-icon"
                height="15px"
                viewBox="0 0 20 20"
                width="15px"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  clip-rule="evenodd"
                  d="
                M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z
                "
                  fill-rule="evenodd"
                >
                </path>
              </svg>
            </a>
             no_param
          </h2>

          <div class="content">
            <span class="def">def</span>
            <span class="name">no_param</span><span
              class="signature pdoc-code condensed"
              >(<span class="param"><span class="bp">self</span></span><span
                class="return-annotation">):</span
              ></span
            >
          </div>

          <div class="docstring">
            <div class="docstring"><p>No params.</p></div>
          </div>
        </section>
      </div>
      <section class="class">
        <h2 class="title">
          <a aria-hidden="true" href="#ChildClass" tabindex="-1">
            <svg
              aria-hidden="true"
              class="heading-icon"
              height="15px"
              viewBox="0 0 20 20"
              width="15px"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                clip-rule="evenodd"
                d="
                M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z
                "
                fill-rule="evenodd"
              >
              </path>
            </svg>
          </a>
           ChildClass
        </h2><wbr />(<span class="base"
          ><a href="#ParentClass">ParentClass</a></span
        >):

        <div class="docstring">
          <div class="docstring"><p>A child class</p></div>
        </div>
      </section>

      <div id="ChildClass.__init__" class="attr">
        <section class="function">
          <h2 class="title" id="ChildClass.__init__">
            <a aria-hidden="true" href="#ChildClass.__init__" tabindex="-1">
              <svg
                aria-hidden="true"
                class="heading-icon"
                height="15px"
                viewBox="0 0 20 20"
                width="15px"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  clip-rule="evenodd"
                  d="
                M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z
                "
                  fill-rule="evenodd"
                >
                </path>
              </svg>
            </a>
             ChildClass
          </h2>

          <div class="content">
            <span class="name">ChildClass</span><span
              class="signature pdoc-code condensed"
              >(<span class="param"
                ><span class="n">param_c</span><span class="p">:</span>
                <span class="nb">float</span>
                <span class="o">=</span>
                <span class="mf">1.1</span>,
              </span><span class="param"
                ><span class="n">param_d</span><span class="p">:</span>
                <span class="nb">float</span>
                <span class="o">=</span>
                <span class="mf">0.9</span></span
              >)</span
            >
          </div>

          <div class="docstring">
            <div class="docstring">
              <p>Child initialisation.</p>

              <h3>Parameters</h3>
              <div class="container">
                <div class="def">
                  <div class="name">param_c</div>
                  <div class="type">float</div>
                </div>
                <div class="desc"><p>Yet another test param.</p></div>

                <p></p>
                <div class="container">
                  <div class="def">
                    <div class="name">param_d</div>
                    <div class="type">float</div>
                  </div>
                  <div class="desc"><p>And another.</p></div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div id="ChildClass.param_e" class="attr">
        <section class="variable">
          <span class="name">param_e</span>

          <div class="docstring">
            <div class="docstring">
              <p>A property describing property param_e</p>
            </div>
          </div>
        </section>
      </div>
      <div id="ChildClass.hello" class="attr">
        <section class="function">
          <h2 class="title" id="ChildClass.hello">
            <a aria-hidden="true" href="#ChildClass.hello" tabindex="-1">
              <svg
                aria-hidden="true"
                class="heading-icon"
                height="15px"
                viewBox="0 0 20 20"
                width="15px"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  clip-rule="evenodd"
                  d="
                M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z
                "
                  fill-rule="evenodd"
                >
                </path>
              </svg>
            </a>
             hello
          </h2>

          <div class="content">
            <span class="def">def</span>
            <span class="name">hello</span><span
              class="signature pdoc-code condensed"
              >(<span class="param"><span class="bp">self</span></span><span
                class="return-annotation"
                >) -> <span class="nb">str</span>:</span
              ></span
            >
          </div>

          <div class="docstring">
            <div class="docstring">
              <p>A random class method returning "hello"</p>

              <h3>Returns</h3>
              <div class="container">
                <div class="def">
                  <div class="name">str</div>
                  <div class="type">saying_hello</div>
                </div>
                <div class="desc"><p>A string saying "hello"</p></div>

                <p></p>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="inherited">
        <h5>Inherited Members</h5>
        <dl>
          <div>
            <dt><a href="#ParentClass">ParentClass</a></dt>
            <dd id="ChildClass.parent_prop" class="variable">
              <a href="#ParentClass.parent_prop">parent_prop</a>
            </dd>
            <dd id="ChildClass.no_param" class="function">
              <a href="#ParentClass.no_param">no_param</a>
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </section>
</PageLayout>
